* {
    box-sizing: border-box;   
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(images/sky.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110vw 200vh;
}

/* nav items */
a{
    text-decoration: none;
    display: inline-block;     
    position: relative;    
    z-index: 1;
    /* add padding to increase clickable area, 
    negative margin to ensure other items dont move */
    padding: 25px; 
    margin: -25px; 
}

a:visited {color:black;}

ul {
    list-style-type : none;
    margin : 0;
    padding : 0;
 }
.logo img{
    height: 60px;
    margin-right: 50px;
}
.navbar { 
    display: flex;
    justify-content: center;
}
nav{
    width: 100%;
    background-color: white;
    padding-left: 30px; 
}
.nav-list {
    display: flex;
}
.nav-list li{ 
    padding: 25px 25px;
}
.nav-list a:hover{ 
    cursor: pointer;
    background: black;
    color: white;
}

/* main body content */
.main-content{
    display: flex;
    justify-content: center; 
    padding: 50px;
    width: 100%;
}
.container-text{
    height: 400px;
    width: 500px;
    padding: 20px;
    margin-right: 50px;
    background-color: #f1f1f1;
}

.learn-more{
    background-color: #939393;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.map-container{
    margin-left: 50px;
    height: 400px;
    width: 500px;
}

footer{
    position: fixed;
    height: 45px;
    font-size: small;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:white;
    text-align: center;
    border-top: 1px solid black;
}

@media (max-width: 600px) {
    body {
        position: relative;
        padding-bottom: 6rem;
    }
    footer{
        position:absolute;
    }
    a{
        padding: 15px; 
        margin: -15px; 
        text-align: center;
    }
    h1{
        font-size: large;
    }
    nav{
        padding:0;
    }
    .logo img{
        margin-right:15px;
        float: left;
    }
    .nav-list li{
        padding:10px;
        margin-top: 10px;
    }
    .main-content{
        display: block;
    }
    .map-container, .container-text {
        width: 100%;    
        margin: 20px 0px;
    }
}
